@import './common/base.scss';
html{
    --color-3: #333333;
    --color-6: #666666;
    --color-9: #999999;
    --bg-1:#f1f3f7;
    --bg-3: #f3f3f3;
    --bg-6: #f6f6f6;
    --bg-9: #f9f9f9;
    --color-warning: #fff7cc;
    --color-white: #ffffff;
    --color-danger:  #f56723;
    --color-link: rgb(57, 165, 232);
    --color-primary: rgb(40, 158, 232);
}
@include to-common-class(px);