@import './common/base.scss';
html {
    --color-3: #333333;
    --color-6: #666666;
    --color-9: #999999;
    --bg-1: #f1f3f7;
    --bg-3: #f3f3f3;
    --bg-6: #f6f6f6;
    --bg-9: #f9f9f9;
    --color-warning: #fff7cc;
    --color-white: #ffffff;
    --color-danger: #f56723;
    --color-link: rgb(57, 165, 232);
    --color-primary: #1890ff;
    --selected-bg-color: #e6f7ff;
    --selected-font-color: #1890ff;
    color: var(--color-3);
}

// 宽度+高度
@for $i from 0 through 20 {
    $size: $i * 5;
    .top-v#{$size} {
        top: #{$size * 1vh} !important;
    }
    .left-v#{$size} {
        left: #{$size * 1vw} !important;
    }
    .bottom-v#{$size} {
        bottom: #{$size * 1vh} !important;
    }
    .right-v#{$size} {
        right: #{$size * 1vw} !important;
    }
    .width-v#{$size} {
        width: #{$size * 1vw} !important;
    }
    .width--v#{$size} {
        width: #{(100 - $size) * 1vw} !important;
    }
    .height-v#{$size} {
        height: #{$size * 1vh} !important;
    }
    .height--v#{$size} {
        height: #{(100 - $size) * 1vh} !important;
    }
}

@include to-common-class(px);
